<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>すくすく</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      text-align: center;
      font-size: 80px;
    }

    .container {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
    }

    #image-container {
      margin-right: 50px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
    }

    ul li {
      margin-bottom: 20px;
    }

    .new-baby-link {
      display: block;
      margin-top: 140px;
    }
  </style>
</head>
<body>
  <h1>す く す く</h1>

  <div class="container">
    <div id="image-container">
      <%= image_tag 'publicdomainq-0006718ljo.jpeg', style: 'width: 270px; height: auto;' %>
    </div>

    <ul>
      <% @babies.each do |baby| %>
        <li>
          <%= link_to baby.name, baby_path(baby), style: "text-decoration: none;" %>
        </li>
      <% end %>
      <%= link_to "新しい赤ちゃん", new_baby_path, class: "btn-success new-baby-link" %>
    </ul>
  </div>

</body>
</html>
